# dependencies
node_modules

# misc
.esbuild
.DS_Store
.env
.envrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist
integrations/
*.spec.js.map
*.spec.js
*.spec.d.ts.map
*.spec.d.ts
*.js.map
*.d.ts.map
